<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

<div></div>


        <div class="panel panel-default">
            <div class="panel-heading">
              Create Movie
            </div>

            <div class="panel">
                <div layout="column" layout-align="center center">
                    <md-select placeholder="Name" ng-model="movie.Name" md-on-open="movieNamesLoad()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieName in movieNames">{{movieName.Name}}</md-option>
                    </md-select>
                    <md-select placeholder="BoxOffice" ng-model="movie.BoxOffice" md-on-open="movieBoxOfficesLoad()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieBoxOffice in movieBoxOffices">{{movieBoxOffice.BoxOffice}}</md-option>
                    </md-select>
                    <md-select placeholder="Rating" ng-model="movie.Rating" md-on-open="movieRatingsLoad()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieRating in movieRatings">{{movieRating.Rating}}</md-option>
                    </md-select>
                    <md-button class="md-raised md-primary" ng-click="createMovie()">Create Movie</md-button>

                </div>
            </div>
        </div>



        </div>
    <div class="col-md-1"></div>
</div>