<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

<div></div>


        <div class="panel panel-default">
            <div class="panel-heading">
              Create Movie
            </div>

            <div class="panel">
                <div layout="column" layout-align="center center">
                    <md-select placeholder="Assign to user" ng-model="movie.Name" md-on-open="movieNames()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieName in movieNames">{{movieName.Name}}</md-option>
                    </md-select>
                    <md-select placeholder="Assign to user" ng-model="movie.BoxOffice" md-on-open="movieBoxOffices()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieBoxOffice in movieBoxOffices">{{movieBoxOffice.BoxOffice}}</md-option>
                    </md-select>
                    <md-select placeholder="Assign to user" ng-model="movie.Rating" md-on-open="movieRatings()" style="min-width: 200px;">
                        <md-option ng-value="user" ng-repeat="movieRating in movieRatings">{{movieRating.Rating}}</md-option>
                    </md-select>
                    <md-button class="md-raised md-primary" ng-click="alert(movie)">Create Movie</md-button>

                </div>
            </div>
        </div>



        </div>
    <div class="col-md-1"></div>
</div>